.container {
    margin-left: 20px;
}

.filme-principal .container {
    width: 50%;
}

.box-filme {
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel-filmes {
    margin-top: 8px;
}

.menu {
    margin-bottom: 40px;
}